SECRET_KEY=       Секретный ключ. Находится в settings.py / вставить без ковычек

#Статус разработки.
DEBUG=            В ПРОДАКШЕНЕ ДОЛЖЕН СТОЯТЬ FALSE


NAME=
USER=
PASSWORD=   #Заполнить для работы базы данных.
HOST=
PORT=

#ПОЧТА ДЛЯ ПРОЕКТА
EMAIL_HOST_PASSWORD =
EMAIL_HOST_USER =