{% extends "base.html" %}

{% block content %}
<h1>{% if subcategory %}Редактировать{% else %}Создать{% endif %} подкатегорию</h1>
<form method="post">
    {% csrf_token %}
    <p>
        {{ form.name.label_tag }}<br>
        {{ form.name }}
    </p>
    <p>
        {{ form.type.label_tag }}<br>
        {{ form.type }}
    </p>
    <p>
        {{ form.category.label_tag }}<br>
        {{ form.category }}
    </p>
    <button type="submit">{% if subcategory %}Обновить{% else %}Создать{% endif %}</button>
</form>
<a href="{% url 'cashflow:manage' %}">Назад к списку</a>
{% endblock %}